* {
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: Mitr, Helvetica, sans-serif;
  background-color: #F3F0F6;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  margin: 0 auto 40px;
  text-align: center;
}

#container {
  margin: auto;
  padding: 40px 80px;
  height: 100%;
  max-width: 800px;
  background-color: white;
}

button {
  display: inline;
  background-color: white;
  border: none;
  color: darkSlateGrey;
  height: 32px;
  width: 32px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}

button:hover {
  background-color: #F3F0F6;
}

span
{
  display: inline-block;
  vertical-align: middle;
  line-height: 32px;
}

/* Flexbox */

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.flex-item {
  display: flex;
}

#canvas-container {
  flex-grow: 3;
}

#canvas {
  /* Same width & height - prevents canvas from working */
  /*width: 100%;
  height: 0;
  padding-bottom: 100%;*/
  
  width: 100%;
  background-color: #F3F0F6;
}

#option-container {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  padding: 0 20px;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* Responsive */


@media only screen and (max-width: 768px) {
  body {
	background-color: white;
  }

  h1 {
	display: none;
  }

  #container {
    padding: 0;
  }

  #option-container {
  padding: 20px;
  }

  button {
	height: 48px;
	width: 48px;
  }
  
  .flex-container {
    flex-direction: column;
  }
}